
<h1>Bookmark Manager</h1>

<%=link_to 'New bookmark', new_bookmark_path %>

<div class='filters'>
    Category filters:
        <%= link_to 'Serious', '/bookmarks/search/serious' %>
        <%= link_to 'Useful', '/bookmarks/search/useful' %>
        <%= link_to 'Funny', '/bookmarks/search/funny' %>
        <%= link_to 'Uncategorized', '/bookmarks/uncategorized' %>
</div>

<ul>
<% @bookmarks.each do |bookmark| %>
<li>
    <%= link_to bookmark.title, bookmark %>
    <% if bookmark.category != nil %>
     | (<%= bookmark.category %>)
     <% else %>
     | (uncategorized)
    <% end %>
    <% if bookmark.is_favorite? %>
     | (favorite)
    <% end %>
    <% if bookmark.comment? %>
     | (comment)
    <% end %>
</li>
<% end %>
</ul>
