
<h1><%= @bookmark.title %></h1>

<ul>
<li>Category:<%= @bookmark.category %></li>
<li>URL: <%= @bookmark.url %></li>
<li>Comment: <%= @bookmark.comment %></li>
<li>Favorite: <%= @bookmark.is_favorite %></li>
</ul>
